<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344766618102-rofhtu01qje7d3uherkkisb61k44hirv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344766618102-rofhtu01qje7d3uherkkisb61k44hirv</string>
	<key>API_KEY</key>
	<string>AIzaSyBQFEahG3AWZ_xBy6szRc1-oAItqilN4TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>344766618102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-41888</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-41888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344766618102:ios:c3ccb963be38ab91288fd7</string>
</dict>
</plist>